
/* ABOUT - EXTENSION OF 2 COLUMN LAYOUT */

#twoColumns 
{ 
 height:900px;
}

#twoColumns img
{ 
 display:block;
 margin-left:auto;
 margin-right:auto;
 margin-bottom:20px;
 border-style:solid;
 border-width:3px;
 border-color:red; 
}

#twoColumns ul
{ 
 margin-left:-20px;
 text-align:left; 
}

#twoColumns .left
{ 
 width:50%;
}

#twoColumns .right
{ 
 width:44%;
}



