
/* 1 COLUMN EXTENDED */

#singleColumn
{ 
/*--------------------------------------------------
*  width:680px; 
*--------------------------------------------------*/
}

#singleColumn a
{ 
 color:white; 
 font-family:Arial, Helvetica, sans-serif; 
}

#singleColumn table
{ 
 table-layout:fixed; 
 width:680px; 
 border:0px; 
}

#singleColumn h1
{ 
 margin-top:20px; 
}


#singleColumn .left
{ 
 float:left; 
 padding-left:10px; 
}

#singleColumn .right
{ 
 float:right; 
 padding-right:10px; 
}

#singleColumn .column1
{ 
 height:auto;
 width:70px; 
}

#singleColumn .column2
{ 
 height:auto;
 width:300px; 
 padding-left:5px; 
 padding-right:5px; 
}

#singleColumn .column3
{ 
 height:50px;
 width:50px; 
}

#singleColumn td 
{ 
 text-align:center; 
 color:Black; 
 font-family:Arial, Helvetica, sans-serif; 
}

#singleColumn td:hover
{ 
 text-align:center; 
 color:red; 
 font-family:Arial, Helvetica, sans-serif; 
}

#singleColumn a:hover
{ 
 color:red; 
}

