
/* EDUCATION - EXTENSION OF 1 COLUMN LAYOUT */

#singleColumn
{ 
 padding-top:20px;
 font-size:25px; 
 line-height:30px; 
}

#singleColumn li
{
 list-style-type:disc;
 color:red;
 margin-left:50px;
 padding-left:20px;
}

#singleColumn a
{ 
 font-family:"Arial", Helvetica, sans-serif;
 letter-spacing:-1px;
 font-size:20px; 
 color:black; 
}

#singleColumn p
{ 
 font-family:"Arial", Helvetica, sans-serif;
 letter-spacing:-1px;
 font-size:25px; 
 color:black; 
 border-bottom: 1px solid blue;
}
