
/* FOOTER CONFIG */
#footer 
{ width: 740px; 
 height:53px; 
 text-align:center; 
 font-size:9px; 
 color:#2A2A2A; 
 padding-top:25px;
 background: url(../images/footer.png) no-repeat; 
}

