
/* IMAGES - EXTENSION OF 2 COLUMN LAYOUT */
#twoColumns
{ 
 height:auto;
}

#twoColumns h1 
{ 
 padding-top:10px;
 font-size:20px;
 text-align:center;
 color:red; 
}

#twoColumns h2
{ 
 font-size:14px;
 text-align:center;
 padding-top:-10px;
 padding-bottom:0px;
 color:white; 
}

#twoColumns p 
{ 
 width:95%;
 color:white;
}

#twoColumns p.text
{ 
 margin-top:30px;
}

#twoColumns .block
{ 
 margin-left:0px;
 width:700px;
 height:330px;
 background-position:center;
 background-image:url(../images/imageBack.png); 
 background-repeat:no-repeat; 
}

#twoColumns .left
{ 
 padding-left:40px;
 float:left;
 width:320px;
 vertical-align:middle;
 text-align:center;

}

#twoColumns .right
{ 
 padding-right:20px;
 float:right;
 width:320px;
 vertical-align:middle;
 text-align:center;
}

#twoColumns img
{ 
 padding-top:27px;
 vertical-align:middle;
}


