
/* MISC - EXTENSION OF 1 COLUMN LAYOUT */

#singleColumn
{ 
 padding-top:20px;
 font-size:25px; 
 line-height:30px; 
}

#singleColumn li
{ 
 padding-left:50px;
}

#singleColumn li
{
 list-style-type:disc;
 color:red;
 padding-left:50px;
}

#singleColumn a
{ 
 letter-spacing:-3px;
 font-size:25px; 
 color:black; 
}
