
/* ABOUT - EXTENSION OF 2 COLUMN LAYOUT */

#twoColumns 
{ 
 height:2500px;
}

body
{ 
}

#twoColumns p
{
 color:red;
 font-size:30px; 
 font-family:Arial, Helvetica, sans-serif; 
 text-align:center;
 letter-spacing:-1px;
}

#twoColumns h1
{ 
 font-size:30px; 
 font-weight:bold; 
 color:blue;
 font-family:Arial, Helvetica, sans-serif; 
}

#twoColumns ul
{ 
 margin-left:-20px;
 text-align:left; 
}

#twoColumns .left
{ 
 width:47%;
}

#twoColumns .right
{ 
 width:49%;
}

#twoColumns li
{
 margin-left:20px;
 list-style-image: url(../thumbs16/nota.png);
 color:black;
 font-size:16px; 
 font-family:Arial, Helvetica, sans-serif; 
 letter-spacing:-1px;
}

#twoColumns hr
{ 
 background-color:blue;
 height:3px;
 border:0;
}

