
/* RECIPES - EXTENSION OF 2 COLUMN LAYOUT */
#twoColumns
{ 
 height:auto;
}

#twoColumns h1 
{ 
 font-size:20px;
 text-align:center;
 padding-bottom:5px;
 color:blue; 
}

#twoColumns h2
{ 
}

#twoColumns p 
{ 
 width:90%;
 color:white;
}

#twoColumns img
{ 
 width:30%;
 margin-top:43px;
 margin-left:-170px;
 border-style:solid;
}

#twoColumns p.text
{ 
 margin-top:50px;
 font-size:20px;
}

#twoColumns p.date
{ 
 margin-top:3px;
 font-size:19px;
}

#twoColumns p.info
{ 
 color:red;
 font-size:18px;
}

#twoColumns .block
{ 
 margin-left:-7px;
 width:700px;
 height:200px;
 background-position:center;
 background-image:url(../images/recipeBack.png); 
 background-repeat:no-repeat; 
}

#twoColumns .left
{ 
 padding-left:25px;
 float:left;
 width:320px;
 vertical-align:middle;
 text-align:center;

}

#twoColumns .right
{ 
 padding-right:30px;
 float:right;
 width:320px;
 vertical-align:middle;
 text-align:center;
}



