
/* UNDER-CONSTRUCTION CONFIG */
#underConstruction
{ 
 position: 
 relative; 
 width:740px; 
 height:350px; 
 background-image:url(../images/background.png); 
 background-repeat:repeat-y; 
}

#underConstruction .figure
{ 
 float:left; 
 padding-left:100px; 
 padding-top:50px; 
 width:35%;
}

#underConstruction .text
{ 
 float:right; 
 padding-top:140px;
 padding-right:140px;
 font-family:"Courier New",Courier,monospace;
 font-size:30px; 
 color:black; 
 text-decoration:blink; 
}

#underConstruction p
{
 text-align:center;
 letter-spacing:-3px;
}
