<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>{% block title %}ANJOS's webpage{% endblock %}</title>
<link rel="icon" type="image/png" href="{{ STATIC_URL }}images/guga.png">
<link rel="shortcut icon" type="image/png" 
href="{{ STATIC_URL }}images/guga.png">
<link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/about.css">
</head>
<body>
{% include "header.html" %}
{% include "bar.html" %}

<div id="page">

 {% regroup music_list by artist as m_list %}

 <ul>
  {% for artist in m_list %}
  <h1> {{ artist.grouper }} 
  <ul>
   {% for item in artist.list %}
   <li><a href="/musics/{{ artist.grouper }}/{{ item.filename }}"> 
	{{ item.song }}</a></li>
   {% endfor %}
  </ul>
  </h1>

  {% endfor %}
 </ul>

</div>


{% include "footer.html" %}
</body>
</html>

