<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
 <meta name="google-site-verification"
 content="vvZ_kOcnnIIs2mmqyPjJfenUe4kMKD6LowMEB7ONDnY" />
<title>{% block title %}ANJOS's webpage{% endblock %}</title>
<link rel="icon" type="image/png" href="{{ STATIC_URL }}images/guga.png">
<link rel="shortcut icon" type="image/png" 
href="{{ STATIC_URL }}images/guga.png">
<link rel="stylesheet" href="{{ STATIC_URL }}css/layoutTwoColumns.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/about.css">

<script type="text/javascript">

 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-27563209-1']);
 _gaq.push(['_trackPageview']);

 (function() {
  var ga = document.createElement('script'); ga.type =
  'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ?
   'https://ssl' : 'http://www') +
  '.google-analytics.com/ga.js';
  var s =
  document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
{% include "header.html" %}
{% include "bar.html" %}

<!-- ABOUT -->
<div id="twoColumns">
 <div class="left">

  <img src="{{ STATIC_URL }}images/guga.png" border="1"> 

  <h1> Some words: </h1>

  <p>&nbsp;</p>

  <p> I've been organizing this web page to make easy to you know a
  little bit of my life and what I'm currently working on. 
  My research field is numerical simulation of
  two-phase flow in nuclear power plants. During my doctoral studies,
  I'd been working in the discretization of the Navier-Stokes's
  equations with a special modelling to describe intefacial forces in
  two-phase flows through the Finite Element Method. The in-house
  numerical code is designed by modern and flexible object-oriented
  languages:  
  (<a href="http://en.wikipedia.org/wiki/C%2B%2B">C++</a>) 
  and
  (<a href="http://www.python.org">Python</a>) 
  which allows easy maintenance and further development. The Ph.D.
  thesis can be found 
  <a href="{{ STATIC_URL }}pdf/gustavoPhD2012.pdf">here</a>,
  which was selected to be among the 5-10% best thesis written at EPFL
  in 2012 
  (<a href="{{ STATIC_URL }}pdf/prixPhd.pdf">more info</a>). From Aug.
  2012 to Aug. 2013 I worked as a Post-Doc Associated in Nuclear Science &
  Engineering (<a href="http://web.mit.edu/nse">NSE</a>) 
  at the Massachusetts Institute of Technology 
  (<a href="http://www.mit.edu">MIT</a>) 
  in Cambridge/Boston area. The aim of the Post-Doc position was to
  benchmark the boiling/condensation experimental database using a
  commercial front-capturing code available in the laboratory. In
  Sep. 2013 I finally came back to Brazil as Post-Doc assistent
  sponsored by the brazilian agency CAPES/Ciencias sem Fronteiras -
  Young Talent Fellowship.
  </p>

  <p>&nbsp;</p>
  
  <p> Talking about my personal life, I like to play sports. I enjoy
  playing tennis, soccer, volleyball, basket, cycling and swimming. I do
  also like playing the acoustic guitar in my spare time and watch
  movies. </p>

  <p>&nbsp;</p>

  <p> So, enjoy my webpage and contact me if you need any other 
  information! :) </p>

 </div>

 <div class="right">

  <h2> ABOUT ME: </h2>

  <p>&nbsp;</p>

  <p> <b> name: </b> Gustavo Rabello dos Anjos </p>
  <p> <b> age: </b> 33 years old               </p>
  <p> <b> birthday: </b> September 5th, 1980   </p>
  <p> <b> status: </b> married with Michelle   </p>
  <p> <b> high school: </b> <a href="http://portal.cefet-rj.br"> CEFET-RJ </a> </p>
  <p> <b> B.Eng.: </b> <a href="http://www.uerj.br"> UERJ </a> </p>
  <p> <b> M.Sc.: </b> <a href="http://www.ufrj.br"> UFRJ </a> </p>  
  <p> <b> Ph.D.: </b> <a href="http://www.epfl.ch"> EPFL </a> </p>  
  <p> <b> Post-Doc: </b> <a href="http://www.mit.edu"> MIT </a> </p>  
  <p> <b> major: </b> Mechanical Engineer      </p>
  <p> <b> languages: </b> portuguese, english, french, spanish </p>

  <p>&nbsp;</p>

  <p> <b> curriculum-Vitae: </b> 
  <a href="http://lattes.cnpq.br/2430893976345647"> portugues</a>, 
  <a href="{{ STATIC_URL }}pdf/cvEnglishANJOS.pdf"> english</a>,
  <a href="{{ STATIC_URL }}pdf/cvFrancaisANJOS.pdf"> francais</a> </p>

  <p> <b> B.Eng. transcription grades: </b> 
  <a href="{{ STATIC_URL }}pdf/uerjHistoricoPortugues.pdf"> portugues</a>, 
  <a href="{{ STATIC_URL }}pdf/uerjGradesEnglish.pdf"> english</a> </p> 
  <p> <b> M.Sc. transcription grades: </b> 
  <a href="{{ STATIC_URL }}pdf/ufrjHistoricoPortugues.pdf"> portugues</a>, 
  <a href="{{ STATIC_URL }}pdf/ufrjGradesEnglish.pdf"> english</a> </p> 
  <p> <b> Ph.D. transcription grades: </b> 
  <a href="{{ STATIC_URL }}pdf/epflGradesEnglish.pdf"> francais/english</a> </p> 

  <p>&nbsp;</p>

  <h2> RESEARCH INTERESTS: </h2>

  <p>&nbsp;</p>

  <ul>
   <li> Multiphase Flow; </li>
   <li> Heat and Mass Transfer; </li>
   <li> Computational Fluid Dynamics; </li>
   <li> Finite Element Method; </li>
   <li> C/C++, Python, Matlab, Fortran </li>
  </ul>

  <p>&nbsp;</p>


  <h2> MY CONTACT: </h2>

  <p>&nbsp;</p>

  <p> <b> address: </b> GESAR </p>
  <p style="text-indent:55px"> Rua Fonseca Telles, 121  </p>
  <p style="text-indent:55px"> predio anexo - Sao Cristovao </p>
  <p style="text-indent:55px"> 20940-903, Rio de Janeiro, Brazil </p>
  <p> <b> phone: </b> +55 (21) 2332-4733 </p>

  <p>&nbsp;</p>

  <p> <b> skype: </b> gustavo.rabello </p>
  <p> <b>  youtube: </b> gustavorabello </p>

  <p>&nbsp;</p>

  <h2> FAVORITE LINKS: </h2>

  <p>&nbsp;</p>

 <p> <a href="http://www.vim.org"> Vim </a>: Text editor </p>
 <p> <a href="http://www.python.org"> Python </a>: Programming language </p>
 <p> <a href="http://www.djangoproject.com"> Django </a>: Web framework </p>
 <p> <a href="http://wias-berlin.de/software/tetgen/"> TETGEN </a>: Mesh generator </p>
 <p> <a href="http://www.paraview.org"> Paraview </a>: Scientific
 visualization </p>
 <p> <a href="http://www.mcs.anl.gov/petsc/"> PETSc </a>: Scientific Computation Framework </p>
 <p> <a href="http://www.geuz.org/gmsh"> GMsh </a>: Mesh generator </p>


 </div>
</div>

{% include "footer.html" %}
</body>
</html>
