<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>{% block title %}ANJOS's webpage{% endblock %}</title>
<link rel="icon" type="image/png" href="{{ STATIC_URL }}images/guga.png">
<link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}images/guga.png">
<link rel="stylesheet" href="{{ STATIC_URL }}css/layoutSingleColumn.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/articles.css">
</head>
<body>
{% include "header.html" %}
{% include "bar.html" %}

<div id="singleColumn">

 {% regroup article_list|dictsortreversed:"year" by year as year_list %}

 {% for year in year_list %}
 <h1> {{ year.grouper }} </h1>

 {% for item in year.list %}
 <table cellpadding="0">
  <tr bgcolor={% cycle 'DarkGray' 'Gray' %}>
   <td class="column1"> {{ item.kind }} </td>
   <td class="column2"> {{ item.title }} </td>
   <td class="column3"> 
	<div class="left"> <a href="{{ STATIC_URL }}pdf/article-{{ item.number }}.pdf" target="_blank"> 
	  <img src="{{ STATIC_URL }}thumbs16/pdf-icon.png"> </a> </div>
	<div class="right"><a href="{{ STATIC_URL }}pdf/article-{{ item.number }}.pdf" target="_blank"> 
	  <img src="{{ STATIC_URL }}thumbs16/ppt-icon.png"> </a> </div> 
   </td>
  </tr>
 </table>

 {% endfor %}
 {% endfor %}

</div>

{% include "footer.html" %}
</body>
</html>
