<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>{% block title %}ANJOS's webpage{% endblock %}</title>
<link rel="icon" type="image/png" href="{{ STATIC_URL }}images/guga.png">
<link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}images/guga.png">
<link rel="stylesheet" href="{{ STATIC_URL }}css/layoutSingleColumn.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/education.css">
</head>
<body>
{% include "header.html" %}
{% include "bar.html" %}

<div id="singleColumn">
 <li> Fen&ocirc;menos de Transporte </li>
 <li> <a href="{{ STATIC_URL }}pdf/fenTran/ementa.pdf"> ementa </a> </li>
 <li> <a href="{{ STATIC_URL }}pdf/fenTran/diario.pdf"> conte&uacute;do de aula </a> </li>
 <li> <a href="{{ STATIC_URL }}pdf/fenTran/aula1.pdf"> 1a. aula </a> </li>
 <li> <a href="{{ STATIC_URL }}pdf/fenTran/referencias.pdf"> refer&ecirc;ncias </a> </li>

 <li> Transfer&ecirc;ncia de Calor I </li>
 <li> <a href="{{ STATIC_URL }}pdf/transCal-1/ementa.pdf"> ementa </a> </li>
 <li> <a href="{{ STATIC_URL }}pdf/transCal-1/diario.pdf"> conte&uacute;do de aula </a> </li>
 <li> <a href="{{ STATIC_URL }}pdf/transCal-1/aula1.pdf"> 1a. aula </a> </li>
 <li> <a href="{{ STATIC_URL }}pdf/transCal-1/referencias.pdf"> refer&ecirc;ncias </a> </li>

 <li> Escoamentos Multif&aacute;sicos (mestrado/doutorado) </li>
 <li> <a href="{{ STATIC_URL }}pdf/multifasicos/ementa.pdf"> ementa </a> </li>
 <li> <a href="{{ STATIC_URL }}pdf/multifasicos/diario.pdf"> conte&uacute;do de aula </a> </li>
 <li> <a href="{{ STATIC_URL }}pdf/multifasicos/aula1.pdf"> 1a. aula </a> </li>
 <li> <a href="{{ STATIC_URL }}pdf/multifasicos/referencias.pdf"> refer&ecirc;ncias </a> </li>
</div>

{% include "footer.html" %}
</body>
</html>
