<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>{% block title %}ANJOS's webpage{% endblock %}</title>
<link rel="icon" type="image/png" href="{{ STATIC_URL }}images/guga.png">
<link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}images/guga.png">
<link rel="stylesheet" href="{{ STATIC_URL }}css/layoutTwoColumns.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/images.css">
</head>

<script>
 function bigImg(x)
 {
  x.style.height="450px";
  x.style.width="560px";
 }

 function normalImg(x)
 {
  x.style.height="250px";
  x.style.width="280px";
 }
</script>

<body>
{% include "header.html" %}
{% include "bar.html" %}


<div id="twoColumns">

 {% for image in image_list %}
 <div class="block">

   <div class="left"> 
   <h1> {{ image.title}} </h1>

   <h2> date: {{ image.date }}</h2>
   <p>&nbsp;</p>

   <p class="text"> {{ image.text }} </p>
  </div>

  <div class="right"> 
   <img onmouseover="bigImg(this)" onmouseout="normalImg(this)" border="0"
   src="{{ STATIC_URL }}images/{{ image.filename }}" alt=""
   width="280" height="250"> </a>
  </div>

 </div>
 {% endfor %}

</div>

{% include "footer.html" %}
</body>
</html>


