<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>{% block title %}ANJOS's webpage{% endblock %}</title>
<link rel="icon" type="image/png" href="{{ STATIC_URL }}images/guga.png">
<link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}images/guga.png">
<link rel="stylesheet" href="{{ STATIC_URL }}css/layoutSingleColumn.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/misc.css">
</head>
<body>
{% include "header.html" %}
{% include "bar.html" %}

<div id="singleColumn">
 <li> <a href="{{ STATIC_URL }}html/vimCommands.html"> vim commands </a> </li>
 <li> <a href="{{ STATIC_URL }}html/vimrc.html"> vimrc file </a> </li>
 <li> <a href="{{ STATIC_URL }}html/macTips.html"> mac tips </a> </li>
 <li> <a href="{{ STATIC_URL }}html/macProgs.html"> mac programs </a> </li>
 <li> <a href="{{ STATIC_URL }}html/git.html"> git </a> </li>
 <li> <a href="{{ STATIC_URL }}html/ubuntuProgs.html"> ubuntu programs </a> </li>
 <li> <a href="{{ STATIC_URL }}html/shellscript.html"> shell script - bash </a> </li>
 <li> <a href="{{ STATIC_URL }}html/ripFormats.html"> rip formats </a> </li>
 <li> <a href="{{ STATIC_URL }}html/django-python-config.html"> django-python-config </a> </li>
 <li> <a href="{{ STATIC_URL }}html/programs.html"> libraries linux/osx (how-to) </a> </li>
 <li> <a href="http://www.julienvitard.eu/en/eqtexsvg_en.html#Downloads"> latex formula -> inkscape </a> </li>
 <li> <a href="{{ STATIC_URL }}misc/aquaterm.rb"> aquaterm.rb (homebrew acqua) </a> </li>
 <li> <a href="{{ STATIC_URL }}misc/gnuplot.rb"> gnuplot.rb (homebrew gnuplot w/ support acqua) </a> </li>
 <li> <a href="{{ STATIC_URL }}html/htmlSymbols.html"> html entities for
  symbols and Greek letters </a> </li>
</div>

{% include "footer.html" %}
</body>
</html>
