<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>{% block title %}ANJOS's webpage{% endblock %}</title>
<link rel="icon" type="image/png" href="{{ STATIC_URL }}images/guga.png">
<link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}images/guga.png">
<link rel="stylesheet" href="{{ STATIC_URL }}css/layoutTwoColumns.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/recipes.css">
</head>
<body>
{% include "header.html" %}
{% include "bar.html" %}

<div id="twoColumns">

 {% for recipe in recipe_list %}
 <div class="block">

  <div class="{% cycle 'left' 'right' %}">

   <img src="{{ STATIC_URL }}images/{{ recipe.image }}"> </img>

  </div>
  <div class="{% cycle 'right' 'left' %}">
   <p class="text"> {{ recipe.obj }} </p>
   <p class="date"> {{ recipe.date }} </p>
   <p>&nbsp;</p>
   <p class="info"> info: {{ recipe.info }} </p>
   </p>
  </div>

 </div>
 {% endfor %}

</div>

{% include "footer.html" %}
</body>
</html>
