<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>{% block title %}ANJOS's webpage{% endblock %}</title>
<link rel="icon" type="image/png" href="{{ STATIC_URL }}images/guga.png">
<link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}images/guga.png">
<link rel="stylesheet" href="{{ STATIC_URL }}css/layoutTwoColumns.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/research.css">
</head>
<body>
{% include "header.html" %}
{% include "bar.html" %}

<div id="twoColumns">

 <!-- Professorship: -->
 <div class="block">
  <div class="left">
   <h1> Professorship.: </h1>
   <p> Currently I am professor of fluid dynamics at the Mechanical
   Department of the State University of Rio de Janeiro 
   (<a href="http://www.uerj.br/">UERJ</a>). More info will be updated soon!

   <p>&nbsp;</p>

   <p> <b> Period: </b> 07.2014 - current </p>

   <p>&nbsp;</p>

   <p> <b>  </b> 
   </p>

  </div>

  <div class="right">
   <table border="0">
	<tr>
	 <td> <img src="{{ STATIC_URL }}images/under-construction-2.png"> </td>
	 <td> </td>
	 <td> </td>
	</tr>

	<tr>
	 <td> </td>
	 <td> </td>
	 <td> </td>
	</tr>

	<tr>
	 <td> </td>
	 <td> </td>
	</tr>

   </table>
  </div>
 </div>

 <!-- Post-Doc.: -->
 <div class="block">
  <div class="left">
   <h1> Post-Doc.: </h1>
   <p> The topic of the post-doc is numerical two-phase flows with
   emphasis in micro-macro two-phase flows in capillaries with different
   geometries found in many applications within the oil and gas field.
   The work is being performed in Gesar Group - UERJ. 
   (<a href="http://gesar.uerj.br">GESAR</a>) at the State University of
   Rio de Janeiro  (<a href="http://www.uerj.br/">UERJ</a>). More info
   will be updated soon! 

   <p>&nbsp;</p>

   <p> <b> Period: </b> 09.2013 - current </p>

   <p>&nbsp;</p>

   <p> <b> Coordinator: </b> 
   <a href="http://www.gesar.uerj.br/pessoas/professor/norberto.html"> Norberto
	MANGIAVACCHI </a> 
   </p>

  </div>

  <div class="right">
   <table border="0">
	<tr>
	 <td> <img src="{{ STATIC_URL }}images/gesar1.png"> </td>
	 <td> <img src="{{ STATIC_URL }}images/gesar2.png"> </td>
	 <td> </td>
	</tr>

	<tr>
	 <td > <img src="{{ STATIC_URL }}images/gesar3.png"> </td>
	 <td > <img src="{{ STATIC_URL }}images/gesar4.png"> </td>
	 <td> </td>
	</tr>

	<tr>
	 <td> </td>
	 <td> </td>
	</tr>

   </table>
  </div>
 </div>

 <!-- Post-Doc.: -->
 <div class="block">
  <div class="left">
   <h1> Post-Doc.: </h1>
   <p> The topic of the post-doc is boiling and condensation in
   convective flow with multiple bubbles. The work is being performed
   in the Nuclear Science and Engineering 
   (<a href="http://web.mit.edu/nse">NSE</a>)
   at the Massachussetts Institute of Technology 
   (<a href="http://mit.edu/">MIT</a>). More info will be updated soon!

   <p>&nbsp;</p>

   <p> <b> Period: </b> 08.2012 - 08.2013 </p>

   <p>&nbsp;</p>

   <p> <b> Coordinator: </b> 
   <a href="http://mit.edu/nse/people/faculty/buongiorno.html"> Jacopo
	BUONGIORNO </a> 
   </p>

  </div>

  <div class="right">
   <table border="0">
	<tr>
	 <td> <img src="{{ STATIC_URL }}images/under-construction-2.png"> </td>
	 <td> </td>
	 <td> </td>
	</tr>

	<tr>
	 <td> </td>
	 <td> </td>
	 <td> </td>
	</tr>

	<tr>
	 <td> </td>
	 <td> </td>
	</tr>

   </table>
  </div>
 </div>

 <!-- Ph.D.: -->
 <div class="block">
  <div class="left">
   <h1> Ph.D.: </h1>
   <p> The topic of the doctorate is two-phase flow and heat transfer in
   microchannels. One of the major aspects of this thesis will be to
   extend the single phase code (developed during the masters studies)
   and implement two-phase and heat transfer bringing the surface tension
   effects into the code for elongated bubble flows, annular flows and
   bubbly flows (for both evaporating flows and perhaps also for some
   condensing flows). Both Finite Element Method (FEM) and the Arbitrary
   Lagrangian-Eulerian (ALE) framework will be used to achieve such a
   task. Another interesting aspect could be for an isolated bubble
   growing at a wall in a cross-flow in a microchannel with down stream
   coalescence of the train of departing bubbles. All these works are
   done in the Heat and Mass Transfer Laboratory (
   <a href="http://ltcm.epfl.ch/"> LTCM </a> 
   ) at the Swiss
   Federal Institute of Technology in Lausanne (
   <a href="http://www.epfl.ch/"> EPFL </a> 
   ). </p>

   <p>&nbsp;</p>

   <p> <b> Period: </b> 08.2008 - 08.2012 </p>

   <p>&nbsp;</p>

   <p> <b> Directors: </b> 
   <a href="http://ltcm.epfl.ch/page-54075-en.html"> John R. THOME </a> 
   </p>
   <p style="text-indent:65px" >
   <a href="http://ltcm.epfl.ch/page-54077-en.html"> Navid BORHANI </a>
   </p>

  </div>
  <div class="right">
   <table border="0">
	<tr>
	 <td> <img src="{{ STATIC_URL }}images/3Dmesh.png"> </td>
	 <td> <img src="{{ STATIC_URL }}images/processor.png"> </td>
	 <td> </td>
	</tr>

	<tr>
	 <td > <img src="{{ STATIC_URL }}images/2Dmicro.png"> </td>
	 <td > <img src="{{ STATIC_URL }}images/3Dbubble.png"> </td>
	 <td> </td>
	</tr>

	<tr>
	 <td> </td>
	 <td> </td>
	</tr>

   </table>
  </div>
 </div>

 <!-- GESAR (pos-Masters): -->
 <div class="block">
  <div class="left">
   <h1> GESAR (pos-Masters): </h1>

   <p> From 2007 to mid-2008 I worked as a young researcher in the Group
   for Study and Simulations of Reservoir Filling (GESAR) . This
   one-year experience brought me the necessary skills for large code
   development, since the multi-disciplinary project required experience
   in many different areas such as engineering, biology, chemistry and
   mathematics. The project consisted in numerical simulation of
   hydropower reservoirs filling. The Navier-Stokes's equation was used
   to describe the behaviour of the interaction between the surrounded
   nature (nutrients, vegetation, chemical components) and the flow
   itself. The previous master's code was improved and massively tested
   against important nature phenomenas which occurs due to the filling
   of large Brazilian reservoirs. The Finite Element Method had been
   used for the mathematical discretization using triangular (2D) and
   tetrahedral (3D) elements. The final result is the development of a
   powerful software able to predict the natural variables found in a
   generic hydropower reservoirs filling. </p>

   <p>&nbsp;</p>

   <p> <b> Period: </b> 04.2007 - 05.2008 </p>

   <p>&nbsp;</p>

   <p> <b> Directors: </b> 
   <a href="http://www.gesar.uerj.br/pessoas/professor/norberto.html"> Norberto MANGIAVACCHI</a>,
   </p>
   <p style="text-indent:65px" >
   <a href="http://www.gesar.uerj.br/pessoas/professor/pontes.html"> Jose PONTES </a>
   </p>

  </div>

  <div class="right">
   <table border="0">
	<tr>
	 <td> <img src="{{ STATIC_URL }}images/simC225.png"> </td>
	 <td> <img src="{{ STATIC_URL }}images/simU225.png"> </td>
	</tr>

	<tr>
	 <td> <img src="{{ STATIC_URL }}images/malha.png"> </td>
	 <!-- <td></td> -->
	</tr>

	<tr>
	 <!-- <td></td> -->
	 <!-- <td></td> -->
	</tr>

   </table>
  </div>
 </div>

 <!-- M.Sc.: -->
 <div class="block">
  <div class="left">
   <h1> M.Sc.: </h1>

   <p> Followed by the end of my bachelor's project, I started my masters
   studies at the Federal University of Rio de Janeiro 
   (<a href="http://www.ufrj.br">UFRJ</a>) 
   in the Metallurgical and Materials Engineering Department
   (<a href="http://www.coppe.ufrj.br">COPPE</a>).
   The period of two years is required to receive the Master's degree
   and during this period we must follow some courses and write a
   dissertation based on a specific theme. We have chosen to follow
   three directions of courses: scientific computing, mathematics and
   fluid mechanics, all of them were done in their respective
   departments. The aim of the masters thesis was to develop a three
   dimensional Finite Element code, under the object-oriented paradigm,
   to simulate the flow field close to an electrochemical cell immerse
   in H2SO4 solution. The Navier-Stokes's equations were used to model
   the real system. We used the Semi-Lagrangian approach to treat the
   convective (non-linear) term, present in the equations, which is one
   of the most problematic issue in such a modelling. The others terms
   namely pressure and viscous terms, were discretized by the standard
   Galerkin method. The final linear system Ax=b was treated by the LU
   projection method, thus decoupling velocity and pressure in two
   smaller systems. In 2007 I received my master's degree (M.Sc.).
   </p>

   <p>&nbsp;</p>

   <p> <b> Period: </b> 03.2005 - 02.2007 </p>

   <p>&nbsp;</p>

   <p> <b> Directors: </b> 
   <a href="http://www.gesar.uerj.br/pessoas/professor/pontes.html"> Jose PONTES</a>,
   </p>
   <p style="text-indent:65px" >
   <a href="http://www.gesar.uerj.br/pessoas/professor/norberto.html"> Norberto MANGIAVACCHI </a>
   </p>

  </div>
  <div class="right">
   <table border="0">
	<tr>
	 <td> <img src="{{ STATIC_URL }}images/disco.png"> </td>
	 <td> <img src="{{ STATIC_URL }}images/nuCte.png"> </td>
	</tr>

	<tr>
	 <td> <img src="{{ STATIC_URL }}images/us.png"> </td>
	 <td> <img src="{{ STATIC_URL }}images/nuZ.png"> </td>
	</tr>

	<tr>
	 <td> <img src="{{ STATIC_URL }}images/ws.png"> </td>
	 <td> <img src="{{ STATIC_URL }}images/nuC.png"> </td>
	</tr>

   </table>
  </div>
 </div>

 <!-- B.Eng.: -->
 <div class="block">
  <div class="left">
   <h1> B.Eng.: </h1>

   <p> I received my bachelor diploma (B.Eng.) in mechanical engineering
   at the State University of Rio de Janeiro 
   (<a href="http://www.uerj.br">UERJ</a>) in 2005. In early 2003, I
   started to be involved in research by participating in monitoring and
   undergraduate research. During this period I focoused my studies on
   fluid dynamics and finally presented my bachelor project entitled
   "Atmospheric Boundary Layer Simulation in Wild Tunnel" where we had
   analyzed experimentally the effects of fluid flow and its boundary
   layer over a tropical and dense forest. This project had been started
   after some issues of local measurement and thus the experimental
   simulation in wind tunnel was performed to understand the atmospheric
   conditions in the Amazon Rainforest. After this project I received
   the mechanical engineer diploma. </p>

   <p>&nbsp;</p>

   <p> <b> Period: </b> 03.2000 - 12.2005 </p>

   <p>&nbsp;</p>

   <p> <b> Director: </b> 
   <a href="http://www.eng.uerj.br/prof/mila"> Mila AVELINO </a>
   </p>

  </div>
  <div class="right">
   <table border="0">
	<tr>
	 <td> <img src="{{ STATIC_URL }}images/avelino.png"> </td>
	 <!-- <td> </td> -->
	</tr>

	<tr>
	 <!-- <td> </td> -->
	 <td> <img src="{{ STATIC_URL }}images/perfil.png"> </td>
	</tr>

	<tr>
	 <td> </td>
	 <td> </td>
	</tr>

   </table>
  </div>
 </div>

</div>

{% include "footer.html" %}
</body>
</html>
