<div id="singleText">
 <p>You may use this template on any site, anywhere, for free 
 just please leave the link back to me in the footer. This template 
 validates XHTML Strict 1.0, CSS Validates as well; enjoy :) </p>
 <p>&nbsp;</p>
 <p>Remember the early days when the Internet was all black and
 white, this is a throwback to those days. In all seriousness, I made 
 this template because it was based on an earlier design that many found 
 useful. Plus I've always had a thing for creating designs on the web 
 with zero color, I guess it is an 'off the beaten path type deal'.</p>
 <p>&nbsp;</p>
 <p>I should also mention that this template has some updates 
 (err... advantages) over the previous designs... this one uses h1 and h2
 tags in the header for better SEO results, and has new image rollovers 
 for the naviagation.</p>
 <p>&nbsp;</p>
</div>
